/* Base formatting */
body {
    background-color: black;
    color: lightgrey;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: lightgreen;
}
a:hover {
    text-decoration: underline;
}

/* Header (nav + control buttons) */
header {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid lightgreen;
    z-index: 999;
}
nav {
    margin: 0 auto;
    top: 0;
    height: 52px;
    width: 600px;
    
}
nav p.nav-title {
    display: inline-block;
    padding: 15px 20px;
    margin: 0;
    font-weight: bold;
}
nav a {
    padding: 15px 20px;
    display: inline-block;
    color: lightgrey;
}
nav a.active {
    color: lightgreen;
}
#controls {
    width: 600px;
    margin: 0 auto;
}
#control-buttons {
    display: inline-block;
    width: 48px;
}
#control-buttons .fa {
    display: inline;
    margin: 0 auto;
}
#control-buttons .fa-pause-circle {
    display: none;
}
#control-tracking {
    display: inline-block;
    width: 500px;
    position: absolute;
    margin-left: 22px;
}
#control-time {
    margin: 3px;
    height: 22px; /* Actual size, but redefined for formatting */
}
#control-timeline {
    width: 500px;
    height: 5px;
    margin: 7.5px auto;
    background-color: lightgrey;
}
#control-timeline-completed {
    width: 0;
    height: 5px;
    margin: 0 auto;
    background-color: lightgreen;
}


/* Panels */
main {
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.panel {
    display: none;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}
#about {
    display: block;
}
.container {
    width: 90%;
    min-width: 600px;
    margin: 120px auto 0 auto;
    background-color: midnightblue;
    padding: 5px 15px;
}

/* Anti-mobile (since it won't work cleanly anyway) */
#toosmall {
    display: none;
}
@media only screen and (max-width: 599px) {
    #toosmall {
        display: block;
    }
    nav, .panel {
        display: none;
    }
}

/* Playlist CSS */
input#files {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
    color: black;
}
input#files:hover {
    background-color: lightgreen;
}
#playlist-list {
    margin: 15px 0;
    border: 1px solid lightgreen;
    border-radius: 15px;
}
.playlist-list-item, #playlist-list-empty {
    margin: 0;
    border-bottom: 1px solid lightgreen;
    padding: 15px;
}
.playlist-list-item:last-child {
    border: none;
}
.playlist-list-item:hover {
    text-decoration: underline;
}
#playlist-list #playlist-list-empty {
    display: none;
    border: none;
}
#playlist-list #playlist-list-empty:only-child {
    display: block;
}